
/* Logo Header*/
header {background-image: url(./img/pattern.png);
        background-color: #4EA0FF;
        height: 100px;
        background-size: contain;
}

#logo { width: 200px;
        height: 200px;
        padding: 30px;
        padding-left: 10px;
    }
 


/* Title and main pics*/
h1 { margin-bottom: 0;
    font-size: 30px;
}

#author { margin-bottom: 20px;
          color: #808080;
}

#link_page {color: #20A9E5;
            text-decoration: none;
}

#description_pics {
    font-size: 10px;
}



/* Table*/
.text_column { width: 50%;
}

th { background-color: #20A9E5;
}

.color_raw { background-color: #B1E5F2;
}



/* Highlighted Text*/
span { background-color: yellow;}

